h6 {
    font-size: 12px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #008B8B;
}
h5 {
    font-size: 15px;
}
p {
    font-size: 10px;
}
.recently-viewed {
    width: 80px;
    height: 80px;
}