<app-header></app-header>
<md-tab-group *ngIf="movieDetails">
    <md-tab label="Description">
        <div class="container-fluid">
            <div style="position: relative;">
                <img src="{{movieDetails.cover}}" alt="{{movieDetails.name}}" class="cover-image" />
                <img src="{{movieDetails.img}}" alt="{{movieDetails.name}}" class="profile" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/600px_White_star_on_Black_background.svg/2000px-600px_White_star_on_Black_background.svg.png" class="img-fluid" id="star" width="100" height="300" />
                <span class="rate"><h1>{{movieDetails.rate}}</h1></span>
                <span class="genres">{{movieDetails.genres}}</span>
                <span class="theaters">{{movieDetails.theaters}}</span>

            </div>

        </div>
        <br>
        <div class="container-fluid">
            <article class="article">{{movieDetails.description}}</article>
        </div>
        <br>
        <div class="container-fluid">
            <div class="col xs-12 col-sm-12 col-md-12">
                <div class="left"><b>Production Company:</b><span>{{movieDetails.productionCompany}}</span></div>
                <div class="left"><b>Director:</b><span>{{movieDetails.director}}</span></div>
                <div class="left"><b>Initial Release:</b><span>{{movieDetails.initialRelease}}</span></div>
                <div class="left"><b>Music Director:</b><span>{{movieDetails.musicDirector}}</span></div>
                <div class="left"><b>Duration:</b><span>{{movieDetails.length}}</span></div>
            </div>
            <div class="col xs-12 col-sm-12 col-md-12">
            </div>
        </div>

    </md-tab>

    <md-tab label="Movie Cast">
        <div class="container-fluid">
            <ul class="list-group">
                <li class="list-group-item
          list-group-item-info text-center" *ngFor="let item of cast">{{item}}</li>
            </ul>
        </div>
    </md-tab>

    <md-tab label="User Reviews">
        <div class="container-fluid">
            <div *ngIf="movieDetails">
                <article class="border" *ngFor="let x of userReviews">

                    {{x}}

                </article>
            </div>
        </div>
    </md-tab>
</md-tab-group>

<app-upcoming-movie-detail></app-upcoming-movie-detail>
<br>
<br>
<br>
<br>
<app-footer class="fixed"></app-footer>